global:
  ns1:
    constant:
      GLOBAL_VAR1: value1

services:
  default:
    core:
      constant:
        CORE_VAR1: value2
    
    ims:
      constant:
        IMS_VAR1: random_uuid
        IMS_VAR3: aaa
      global:
        IMS_VAR2: ns1.GLOBAL_VAR1
    
    pims:
      constant:
        PIMS_VAR1: random_uuid
