global:
  ns1:
    constant:
      GLOBAL_VAR1: value2
  
  ns2:
    auto:
      PASS: random_uuid
    constant:
      WASAUTO: changed

services:
  default:
    core:
      constant:
        CORE_VAR1: value2
    
    ims:
      constant:
        IMS_VAR1: moved
        IMS_VAR3: new_value
      global:
        IMS_VAR2: ns1.GLOBAL_VAR1
    
